{% extends 'layouts/base.html' %}
{% block extra_css %}
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
{% endblock %}
{% block content %}
{% load my_tags %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form method="GET">
                                <input name="q"  type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                            <a class="text-primary" href="{% url 'pages:shop' %}">Clear filter</a>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                   {% for category in categories %}
                                                    <li><a href="{% url 'pages:shop' %}?category={{ category.title }}">{{ category.title }} ({{ category.products.all.count }})</a></li>
                                                   {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {% for brand in brands %}
                                                        <li><a href="{% url 'pages:shop' %}?brand={{ brand.title }}">{{ brand.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                   <form action="" method="get">
                                                     
                                                    <input type="text" class="js-range-slider" name="my_range" value=""
                                                    data-type="double"
                                                    data-min="{{ min_price }}"
                                                    data-max="{{ max_price }}"
                                                    data-from="{{ from_price }}"
                                                    data-to="{{ to_price }}"
                                                    data-grid="true"
                                                    
                                                />
                                                   <input style="background-color: #ed5565; border: none; border-radius: 9px; color: white; margin-top: 15px;" type="submit" id="input_submit">
                                                   </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                {% for size in sizes %}
                                                    <label for="{{ size.title }}"><a class="text-secondary" href="{% url 'pages:shop' %}?size={{ size.title }}">{{ size.title }}</a>
                                                        <input type="radio" id="{{ size.title }}">
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                {% for color in colors %}
                                                <a href="{% url 'pages:shop' %}?color={{ color.name }}">
                                                        <label style="background-color: {{ color.code }};" for="">
                                                            <input type="select" id="{{ color.name }}">
                                                        </label>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                {% for tag in tags %}
                                                    <a href="{% url 'pages:shop' %}?tag={{ tag.title }}">{{ tag.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <form method="GET">
                                        <select name="sort" onchange="this.form.submit()">
                                            {% if request.GET.sort == "-price" %}
                                                <option value="-price">${{ max_price }} - ${{ min_price }}</option>
                                                <option value="price">${{ min_price }} - ${{ max_price }}</option>
                                            {% else %}
                                                <option value="price">${{ min_price }} - ${{ max_price }}</option>
                                                <option value="-price">${{ max_price }} - ${{ min_price }}</option>
                                            {% endif %}
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                    {% if product.is_new %}
                                        <span class="label">New</span>
                                    {% endif %}
                                    {% if product.discount > 0 %}
                                        <span style="margin-top: 30px;" class="label bg-warning">-{{ product.discount }}%</span>
                                    {% endif  %}
                                    <ul class="product__hover">
                                        <li>
                                            <a href="{% url 'products:add_to_wishlist' pk=product.pk %}">
                                                {% if request.user.is_authenticated %}
                                                    {% if request.user|in_wishlist:product %}
                                                        <img src="{% static 'img/icon/heartr.png' %}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'img/icon/heart.png' %}" alt="">
                                                    {% endif %}
                                                {% else %}
                                                    <img src="{% static 'img/icon/heart.png' %}" alt="">
                                                {% endif %}
                                            </a></li>
                                        </li>
                                        <li><a href="{% url 'products:details' pk=product.pk %}"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{ product.name }}</h6>
                                    <a href="{% url 'products:add_to_cart' pk=product.pk %}" class="add-cart">+ Add To Cart</a>
                                    <p><i class="fa fa-star-o"></i>{{ product.rating }}</p>
                                    <p>{{ product.is_new }}</p>
                                    <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>${{ product.get_real_price }}
                                        {% if product.discount %}
                                            <span>
                                                <s class="text-danger ml-3">{{ product.price }}</s>
                                            </span>
                                        {% endif %}
                                    </h5>
                                    <div class="product__color__select">
                                        {% for color in product.colors.all %}
                                                <label style="background-color: {{ color.code }};" for="pc-4">
                                                    <input type="radio" id="pc-4">
                                                </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-circle-chevron-left"></i></a>
                                {% endif %}
                                <a class="active" href="#">{{ page_obj.number }}</a>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-circle-chevron-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}
{% block extra_js %}
     <!--jQuery-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
     <!--Plugin JavaScript file-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
     <script>
        $(".js-range-slider").ionRangeSlider({
        onStart: function (data) {
            // Called right after range slider instance initialised
        },
    
        onChange: function (data) {
            // Called every time handle position is changed
    
            console.log(data.from);
        },
    
        onFinish: function (data) {
            // Called then action is done and mouse is released
    
            console.log(data.to);
        },
    
        onUpdate: function (data) {
            // Called then slider is changed using Update public method
    
            console.log(data.from_percent);
        }
    });
    </script>
{% endblock %}