{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for wishlist in wishlists %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ wishlist.product.image.url }}">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="{% url 'products:add_to_wishlist' product_pk=wishlist.product.pk %}">
                                                {% if request.user|in_wishlist:wishlist.product %}
                                                    <img src="{% static 'img/icon/heartr.png' %}" alt="">
                                                {% else %}
                                                    <img src="{% static 'img/icon/heart.png' %}" alt="">
                                                {% endif %}
                                            </a></li>
                                        <li><a href="#"><img src="{% static 'img/icon/compare.png' %}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{ wishlist.product.name }}</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>${{ wishlist.product.price }}</h5>
                                    <div class="product__color__select">
                                        {% for color in wishlist.product.colors.all %}
                                            <label style="background-color: {{ color.code }};" for="pc-4">
                                                <input type="radio" id="pc-4">
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}